
# Build files
**/target
*.pyc
**/*.rs.bk

# IDE files
.vscode
.idea
*.ipynb

# Miscellaneous
*.log
.env
example-walletdb
*.stronghold
!**/tests/**/**.stronghold
.DS_Store
book
.venv*

# Temporary documentation
docs
